.App {
  height: 100vh;
  position: relative;
}
.desc-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.footer-main {
  padding: 20px 112px !important;
}
.home-main {
  height: calc(100vh - 273px);
}
.popular-series {
  margin: 0 3rem;
}

@media screen and (max-width: 450px) {
  .sft-btn {
    width: fit-content !important;
  }
  .social-logo-img {
    width: 200px;
    justify-content: center;
  }
  .social-logo-main {
    justify-content: center;
  }
  .store-logo-main {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-main {
    padding: 20px 30px !important;
  }
  .popular-series {
    margin: 0 !important;
  }
  .popular-main {
    justify-content: space-evenly !important;
  }
  .home {
    margin: 8px !important;
  }
  .copyright-text {
    padding: 8px;
  }
}
